<div class="container">

<div class="header-container">
  <div class="title-container">
    <h2 class="header-title">System Logs</h2>
    <p class="header-subtitle">Monitor and analyze application logs</p>
  </div>
  <div class="logs-quantity">
    <div class="badge-log"></div>
    <p>16 Logs</p>
  </div>
</div>
<div class="card-container">

  <div class="card-search-container">

      <div class="search-card">
        <div class="search-container">
          <input
            type="text"
            placeholder="Pesquisar..."
            [(ngModel)]="searchTerm"
            (input)="applyFilter()"
            class="search-input"
          />
          <i class="pi pi-search search-icon"></i>
        </div>
        <p-button class="bt-refresh" icon="pi pi-refresh" severity="secondary" />
    </div>
  </div>

  <!-- Infinit scroll cards -->

  <div class="card-list" infiniteScroll  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50" [scrollWindow]="false" (scrolled)="onScroll($event)">
  <div *ngFor="let item of items">

</div>

</div>
