<div class="card-container">
<div class="row error-row">
  <div class=" row status">
    <i class="pi pi-exclamation-circle icon-error"></i>
    <p-tag severity="danger" value="ERROR" [rounded]="true" /></div>
    <div class="row time"><i class="pi pi-exclamation-circle"></i>06:30:25 </div>
</div>
<div class="row information-row">
  <p-tag severity="info" value="POST" [rounded]="true" />
  <div class="row route "><i class="pi pi-globe icon-net"></i> <p>/api/users/login</p></div>
</div>

<div class="row complement-row">
  <div class=" row status">

    <p-tag severity="warn" value="401" [rounded]="true" /></div>
    <div class="row time"><p>250ms</p></div>
</div>
<div class="message-row">
  <p>Unauthorized: Access is denied due to invalid credentials.</p>
  <p-divider />
</div>
<p class="date">Augs 15,2025</p>

</div>
